
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

form h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 60px;
    color: purple;
}

form h2:hover {
    color: black;
}

form ul {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: 50px 50px;
    grid-auto-rows: 100px;
    grid-template-columns: 300px 300px;
    grid-row-gap: 100px;
    width: 100%;
    height: 100vh;
    list-style: none;
}

form ul li:nth-child(4) {
    list-style: square outside;
}

form ul li p {
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 40px;
    white-space: nowrap;
}

form ul li input {
    width: 250px;
    height: 35px;
    font-size: 40px;
}

form div {
    /* position: absolute; */
    /* bottom: 0; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    white-space: nowrap;
    width: 150px;
    height: 50px;
}

form div p {
    font-size: 32px;
    margin-left: 15px;
}

form div input {
    width: 75px;
    height: 35px;
}

form button {
    position: absolute;
    bottom: 60px;
    cursor: pointer;
    color: white;
    text-align: center;
    width: 175px;
    height: 70px;
    font-size: 35px;
    background: rgb(63, 63, 255);
    text-transform: uppercase;
}

form button:hover {
    background: white;
    color: rgb(63, 63, 255);
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    form {
        text-align: center;
        background: black;
        color: white;
    }
    
    form h2 {
        text-align: center;
        font-size: 48.5px;
        font-weight: bolder;
    }

    form ul {
        margin-top: 350px;
        display: flex;
        flex-direction: column;
    }

    form ul li {
        margin: -15px;
    }
    
    form ul li:nth-child(4) {
        list-style: none;
    }
    
    form ul li p {
        font-size: 35px;
        font-weight: normal;
    }
    
    form ul li input {
        width: 150px;
        height: 35px;
        font-size: 40px;
    }
    
    form div {
        margin-top: 100px;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        width: 150px;
        height: 50px;
    }
    
    form div p {
        font-size: 32px;
        margin-left: 15px;
    }
    
    form div input {
        width: 75px;
        height: 35px;
    }
    
    form button {
        margin: 0;
        bottom: 0;
    }
}